<div class="container-fluid">
    <div class="row  justify-content-center">
        <div class="col-8 d-flex flex-column mt-5">

            <div class="row py-5" style="border-bottom: 4px solid black; ">
                <div class="col-6">
                    <img src="assets/img2.jpg" class=" d-block w-100 h-100 " alt="">

                </div>
                <div class="col-6 d-flex flex-column pl-5">
                    <div class="row text-danger" style="font-weight:bolder; font-size: 50px;">
                        Celebrate Birthday
                    </div>
                    <div class="row mt-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi aliquam repudiandae iure
                        ducimus,
                        maxime odit, voluptas reprehenderit beatae nisi sed quibusdam similique ratione ut non
                        perspiciatis
                        placeat quas quos! Quod doloribus atque minima inventore, at facere asperiores accusantium
                        necessitatibus deleniti.
                    </div>

                    <div class="row mt-3">
                        <button class="btn btn-outline-success" (click)="booking()">Book Now !</button>
                    </div>


                </div>


            </div>


            <div class="row py-5" style="border-bottom: 4px solid black; ">
                <div class="col-6">
                    <img src="assets/marriage.jpg" class=" d-block w-100 h-100 " alt="">

                </div>
                <div class="col-6 d-flex flex-column pl-5">
                    <div class="row text-danger" style="font-weight:bolder; font-size: 50px;">
                        Celebrate Wedding Ceremony
                    </div>
                    <div class="row mt-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi aliquam repudiandae iure
                        ducimus,
                        maxime odit, voluptas reprehenderit beatae nisi sed quibusdam similique ratione ut non
                        perspiciatis
                        placeat quas quos! Quod doloribus atque minima inventore, at facere asperiores accusantium
                        necessitatibus deleniti.
                    </div>

                    <div class="row mt-3">
                        <button class="btn btn-outline-success" (click)="booking()">Book Now !</button>
                    </div>

                </div>


            </div>

            <div class="row py-5" style="border-bottom: 4px solid black; ">
                <div class="col-6">
                    <img src="assets/party.jpg" class=" d-block w-100 h-100 " alt="">

                </div>
                <div class="col-6 d-flex flex-column pl-5">
                    <div class="row text-danger" style="font-weight:bolder; font-size: 50px;">
                        Celebrate Party
                    </div>
                    <div class="row mt-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi aliquam repudiandae iure
                        ducimus,
                        maxime odit, voluptas reprehenderit beatae nisi sed quibusdam similique ratione ut non
                        perspiciatis
                        placeat quas quos! Quod doloribus atque minima inventore, at facere asperiores accusantium
                        necessitatibus deleniti.
                    </div>

                    <div class="row mt-3">
                        <button class="btn btn-outline-success" (click)="booking()">Book Now !</button>
                    </div>

                </div>


            </div>

            <div class="row py-5" style="border-bottom: 4px solid black; ">
                <div class="col-6">
                    <img src="assets/program.jpg" class=" d-block w-100 h-100 " alt="">

                </div>
                <div class="col-6 d-flex flex-column pl-5">
                    <div class="row text-danger" style="font-weight:bolder; font-size: 50px;">
                        Conference Arangements
                    </div>
                    <div class="row mt-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi aliquam repudiandae iure
                        ducimus,
                        maxime odit, voluptas reprehenderit beatae nisi sed quibusdam similique ratione ut non
                        perspiciatis
                        placeat quas quos! Quod doloribus atque minima inventore, at facere asperiores accusantium
                        necessitatibus deleniti.
                    </div>

                    <div class="row mt-3">
                        <button class="btn btn-outline-success" (click)="booking()">Book Now !</button>
                    </div>

                </div>


            </div>

        </div>


    </div>

</div>