<div class="container-fluid">
    <div
        style="height: 100vh ; background: url(assets/err.png);background-repeat: no-repeat;background-position: center;background-size: cover;">
        <div class="row align-items-center justify-content-center" style="height:34.4rem">
            <div class="col-6  text-danger h-50 d-flex  align-items-center justify-content-center"
                style="font-size:3rem;font-weight: bolder; text-shadow: 5px 5px blue;">
                Page Not Found!!!<br>
            </div>
        </div>

    </div>