<div class="container-fluid">
    <div
        style="background: url(assets/img4.jpg);background-size: cover;background-repeat: no-repeat;background-position: center;">

        <div class=" row vh-100 justify-content-center   text-light" id="main-bg">
            <div class="col-12 col-md-8 d-flex  justify-content-center align-items-center" id="id1">
                <div class="row h-60 mt-20 w-100 " [formGroup]="forgotpsddata"
                    style="border: 1px 1px solid#492F20 ;box-shadow: 3px 3px 3px 3px #DFD9D9;" id="main-box">
                    <!--Left-side-Image-Box-->
                    <div class="col-12 col-md-6  pb-20" style="opacity:0.9">
                        <img src="assets/img1.jpg" style="height: 95%;width:100%;object-fit: cover;">
                    </div>
                    <!--Right-side-Login-Box-->
                    <div class="col-12 col-md-6   justify-content-between h-100 w-100">
                        <div class="row ">
                            <div class="col-12 d-flex justify-content-center align-items-center " style="height:4.375rem;font-weight: bold;color: white;
                            text-shadow:  2px 4px rgb(180,110,38);font-size:2em">
                                Change Password
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 d-flex justify-content-center align-items-center " style="height:70px">
                                <input type="text" placeholder="Username" formControlName="emailid"
                                    class="form-control rounded-pill" required>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 d-flex justify-content-center align-items-center "
                                style="height:4.375rem;">
                                <input type="password" placeholder="Enter new password" formControlName="password"
                                    class="form-control rounded-pill " required>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 d-flex justify-content-center align-items-center "
                                style="height:4.375rem;">
                                <input type="password" placeholder="Confirm Password" formControlName="confirmpassword"
                                    class="form-control rounded-pill " required>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 d-flex justify-content-center align-items-center 
                        " style="height:4.375rem;text-align: center;">
                                <div class="row">
                                    <button class="btn btn-primary" id="btn1" (click)="submit()"
                                        [disabled]="!forgotpsddata.valid">Submit</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>