<div class="container-fluid">

    <div class="row justify-content-center font-weight-bolder">
        <div class="col-9 d-flex flex-column " [formGroup]="paymentdetails">

            <div class="row my-3 text-danger justify-content-center align-items-center"
                style="font-size: 50px; font-weight:bolder;">
                My Payment Details
            </div>


            <div class="row my-3 ">
                <div class="col-6 text-primary">
                    <h3>
                        My pakage Amount (Discounted 15%) :
                    </h3>
                </div>
                <div class="col-6 text-danger ">
                    <h3> 2,09,000.00 Rs</h3>
                </div>

            </div>


            <div class="row my-3 ">
                <div class="col-6">
                    <h4>
                        Booking ID :
                    </h4>
                </div>
                <div class="col-6 ">
                    200240320135
                </div>

            </div>
            <div class="row my-3">
                <div class="col-6">
                    <h4>
                        Enter card number :
                    </h4>
                </div>
                <div class="col-6 ">
                    <input type="text" class="form-control" placeholder="Number on Debit card" formControlName="cardno"
                        required>
                </div>

            </div>

            <div class="row my-3">
                <div class="col-6">
                    <h4>
                        Enter expiry date of card :
                    </h4>
                </div>
                <div class="col-6 ">
                    <input type="text" class="form-control" placeholder="mm/yy" formControlName="expirydate" required>
                </div>

            </div>

            <div class="row my-3">
                <div class="col-6">
                    <h4>
                        Enter cvv :
                    </h4>
                </div>
                <div class="col-6 ">
                    <input type="text" class="form-control" placeholder="e.g 123" formControlName="cvvno" required>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-6">
                    <h4>
                        Name of account holder :
                    </h4>
                </div>
                <div class="col-6 ">
                    <input type="text" class="form-control" placeholder=" Bank account holders name"
                        formControlName="name" required>
                </div>
            </div>



            <div class="row  align-items-center justify-content-center my-5">

                <button class="btn mr-3 btn-outline-success d-flex justify-content-center align-items-center"
                    [disabled]="!paymentdetails.valid" (click)="submit()">
                    Pay Now !</button>
                <button class="btn btn-outline-success d-flex justify-content-center align-items-center"
                    [disabled]="!paymentdetails.valid" onclick="window.print()">
                    Print !</button>


            </div>


        </div>

    </div>
</div>